.container {
	display: flex;
	padding-top: 50px;
	justify-content: center;
}
.inputContainer {
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}
.form {
	background-color: #dfdfdf;
	flex: 0 1 500px;
	padding: 30px 20px;
	border-radius: 10px;
}

.title {
	font-size: 30px;
	margin-bottom: 25px;
	color: rgb(42, 42, 42);
	text-align: center;
	text-transform: capitalize;
}

.button {
	width: 100%;
	height: 50px;
	padding: 10px;
	border: none;
	background-color: rebeccapurple;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}
.buttonContainer {
	width: 100%;
	height: 50px;
}
