.card {
	width: 100%;
	border-radius: 5px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	& > * {
		padding: 7px;
	}
}
.submitTitleButton {
	padding: 7px;
	background-color: #579436;
	color: white;
	cursor: pointer;
	&:hover {
		background-color: #396422;
	}
}
.editButton {
	cursor: pointer;

	cursor: pointer;
}
.cardLink {
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	color: black;
	flex: 1 1 100%;
}
.inputContainer {
	padding-bottom: -2px;
	background-color: white;
	align-items: center;
	overflow: hidden;
	border-radius: 5px;
	display: flex;
}
.buttonsContainer {
	display: flex;
}
