.button {
	letter-spacing: 2px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	background-color: #7a956b;
	color: white;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 5px 0 #182014;
	position: relative;
	top: 0;
	&:hover {
		background-color: #4b5d42;
	}
	&:active {
		top: 3px;
		box-shadow: 0 2px 0 #222b1e;
	}
}
