.wrapper {
	margin: 15px;
	padding: 20px;
	background-color: white;
	height: 100%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title {
	font-size: 30px;
	line-height: 120%;

	font-weight: 500;
}
.exitButton {
	cursor: pointer;
	width: 30px;
	height: 30px;
	img {
		width: 100%;
		height: 100%;
	}
}
.text {
	padding: 0 5px;
	margin: 20px 0;
	border-radius: 2px;
	font-size: 20px;
	line-height: 120%;
	white-space: pre-wrap;
}
.editButtonContainer {
	flex: 1 1 auto;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.textareaContainer {
	margin: 20px 0;
}
