.inputContainer {
	margin-bottom: 10px;
	border-radius: 5px;
	overflow: hidden;
}
.dropdownContainer {
	margin-bottom: 10px;
}
.buttonContainer {
	display: flex;
	justify-content: space-between;
}
.formInputEnter {
	opacity: 0;
}
.formInputEnterActive {
	opacity: 1;
	transition: opacity ease 500ms;
}
.formInputExit {
	opacity: 1;
}
.formInputExitActive {
	opacity: 0;
	transition: opacity ease 500ms;
}
